<?xml version="1.0"?>
<launch>

	<rosparam file="$(find knmrobot_control)/config/roomba_test.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/roomba_test" args="joint_state_controller
		mobile_base_controller"/>
	
	<node name="robot_state_publiser" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/roomba_test/joint_states"/>
	</node>

</launch>
